

:root {
  --primary-color: #0076C0!important;
  --secondary-color: #f8f9fa;
  --text-dark: #212529;
  --text-light: #002d55;
  --border-radius: 8px;
}
.color-primary{
    color: var(--primary-color);
}
.text-primary{
    color: var(--primary-color) !important;
}

body {
  font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
  background-color: #f5f6f8;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.btn-primary {
  background-color: var(--primary-color)!important;
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 38px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}
.add-shopping-cart {
  font-size: 24px !important;
  vertical-align: middle;
  color: var(--primary-color) !important;
}
